@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

body {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* =================nav=============================== */
.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav .site-nav__items:not(:last-child) {
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav__link {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  color: #000000;
}

.site-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav__icones {
  margin-left: 10px;
}

.site-nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  position: relative;
}

.site-nav__position {
  margin: 20px 30px 30px;
  z-index: 2;
  position: absolute;
}

/* ===============head================ */
.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* gap: 10px; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__img {
  width: 440px;
  height: 536px;
}

.head__left {
  margin-right: 50px;
}

.head__right {
  margin-left: 50px;
}

.head__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-transform: rotate(-15.42deg);
          transform: rotate(-15.42deg);
  width: 268px;
  height: 230px;
  margin: -150px 230px 0;
  position: absolute;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.head__p {
  font-family: "Roboto", sans-serif;
  color: #5a5666;
  font-size: 10px;
  line-height: 1.172;
}

.head__p700 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #5a5666;
  font-size: 10px;
  line-height: 1.172;
}

.head__p-color {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #17a398;
  font-size: 10px;
  line-height: 1.172;
}

.head__powerful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.head__position {
  margin-left: -50px;
}

.head__medal {
  margin: -60px 0 -50px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.head__medal1 {
  margin-right: -80px;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head__medal2 {
  margin-right: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -1;
}

.head__left-title {
  font-family: "Catamaran", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
}

.head__left-button {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.66;
  color: #ffffff;
  background-color: #d22238;
  border-radius: 10px;
  width: 143px;
  height: 62.95px;
  border: 1px solid #d22238;
  margin-right: 10px;
}

.head__left-button:focus,
.head__left-button:hover {
  background-color: #f4596b;
  border: 1px solid #f4596b;
  -webkit-transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
}

.head__left-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 84px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  line-height: 1.66;
}

.head__left-email {
  border: 1px solid #ffffff;
  width: 400px;
  height: 54px;
  padding-left: 15px;
}

.head__left-p {
  font-size: 18px;
  line-height: 1.66;
  margin: 30px 0 30px;
}

.head__left-p1 {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.66;
  color: #858585;
  margin-top: 10px;
}

.head__left-color {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.66;
  color: #d22238;
}

.back__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: -15;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 400px;
  margin-top: 300px;
}

.back__head-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -16;
  gap: 50px;
  margin-left: -350px;
}

.back__head-left-img1 {
  width: 60px;
  height: 120px;
}

.back__head-left-img2 {
  width: 60px;
  height: 60px;
  margin-top: 250px;
}

.back__head-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: -17;
}

.back__head-right-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(200px, 50%);
          transform: translate(200px, 50%);
  gap: 100px;
}

.back__head-right-img3 {
  width: 180px;
  height: 80px;
  -webkit-transform: translate(1px, 70%);
          transform: translate(1px, 70%);
}

.back__head-right-img4 {
  height: 120px;
  -webkit-transform: translate(140px, 70%);
          transform: translate(140px, 70%);
}

.back__head-right-img5 {
  -webkit-transform: translate(0px, 350%);
          transform: translate(0px, 350%);
  position: relative;
  z-index: 30;
}

.back__head-right-img6 {
  -webkit-transform: translate(40px, -10%);
          transform: translate(40px, -10%);
}

/* ====================clients========================= */
.clients {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clients__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
}

.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 80px;
  margin-top: 40px;
}

/* ==============================about============================= */
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  margin-left: -180px;
}

.about__us {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 700;
  font-size: 70px;
  line-height: 1.64;
  color: #f5f5f5;
  text-align: center;
  width: 560px;
  height: 119px;
  margin: 100px 0 0 -100px;
}

.about__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 10px;
  margin-right: 80px;
}

.about__img {
  width: 270px;
  height: 495px;
}

.about__img1 {
  margin-bottom: 150px;
  margin-left: -200px;
}

.about__img2 {
  margin-top: 150px;
}

.about__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 580px;
  width: 540px;
}

.about__text-h2 {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
}

.about__text-p {
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 20px;
}

.about__color {
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  background: -webkit-gradient(linear, left top, left bottom, from(#f00000), to(#9109f6));
  background: linear-gradient(#f00000, #9109f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about__nam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.about__color-p {
  font-size: 15px;
  line-height: 1.66;
  color: #858585;
}

.about__button {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.66;
  color: #ffffff;
  background-color: #d22238;
  border-radius: 10px;
  width: 186px;
  height: 68px;
  border: 1px solid #d22238;
  margin-right: 10px;
}

.about__button:focus,
.about__button:hover {
  background-color: #f4596b;
  border: 1px solid #f4596b;
  -webkit-transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
}

/* ================== VISION ============================= */
.vison {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  Justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
  height: 663px;
  width: 1305px;
}

.vison__title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: center;
  letter-spacing: 0.02em;
}

.vison__title-p {
  font-family: "Catamaran", sans-serif;
  margin: 10px 0 100px 0;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  letter-spacing: 0.02em;
}

.vison__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate(100px, 0%);
          transform: translate(100px, 0%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  Justify-content: center;
  width: 1200px;
}

.vison__servises {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  font-weight: 700;
  font-size: 70px;
  line-height: 1.64;
  color: #f5f5f5;
  text-align: center;
  width: 560px;
  height: 119px;
  margin: 0 -20px 0 -100px;
  letter-spacing: 0.02em;
}

.vison__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  Justify-content: center;
  gap: 30px;
}

.vison__card-items {
  width: 330px;
  height: 462px;
  border-radius: 10px;
  padding: 20px 0 0 20px;
}

.vison__card-items:focus,
.vison__card-items:hover {
  -webkit-box-shadow: 0px 18px 41px 0px rgba(240, 0, 0, 0.06);
          box-shadow: 0px 18px 41px 0px rgba(240, 0, 0, 0.06);
}

.vison__title-card {
  font-weight: 700;
  font-size: 21px;
  line-height: 1.57;
  letter-spacing: 0.02em;
  margin-top: 50px;
}

.vison__p-card {
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  margin-top: 25px;
  color: #858585;
}

.vison__img {
  background-color: #F6EFFA;
  border-radius: 10px;
}

.vison__img2 {
  background-color: #FCEDEF;
}

.vison__img3 {
  background-color: #EDFCFB;
}

.vison__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  Justify-content: center;
  gap: 4px;
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.66;
  color: #858585;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  width: 145px;
  height: 52px;
  border: 1px solid #858585;
  margin: 40px 0;
  fill: #858585;
}

.vison__button:after {
  content: " →";
}

.vison__button:focus,
.vison__button:hover {
  color: #FFFFFF;
  background-color: #d22238;
  border: 1px solid #d22238;
  fill: #FFFFFF;
  -webkit-transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
}

/* ================== FEATURES =========================== */
.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 150px;
  Justify-content: center;
}

.features__features {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-weight: 700;
  font-size: 70px;
  line-height: 1.64;
  color: #f5f5f5;
  margin-left: -140px;
}

.features__title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
}

.features__p {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
}

.features__center {
  margin-left: -110px;
  margin-right: -180px;
}

.features__img {
  position: absolute;
  z-index: 5;
  width: 537.76px;
  height: 764.82px;
  margin-left: 300px;
}

.features__img-background {
  position: relative;
  z-index: -1;
  margin-top: 186px;
  margin-left: 70px;
  width: 730px;
  height: 670px;
}

.features__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.features__li-title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  margin: 20px 0 0 0;
  font-size: 24px;
  line-height: 1.46;
  letter-spacing: 0.02em;
}

.features__li-p {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

/* ================== TEAMS =============================== */
.teams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* flex-direction: column; */
  Justify-content: center;
  margin-top: 150px;
  padding: 150px 0;
  background: linear-gradient(119.11deg, #F00000 -28.05%, #9109F7 79.61%);
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
}

.teams__above {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  Justify-content: center;
}

.teams__title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  margin: -75px 0 0 0;
}

.teams__title-p {
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 75px 0;
}

.teams__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 120px;
}

.teams__cart-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.teams__cart-li-title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
}

.teams__cart-li-p {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-align: center;
  color: #FFFFFF;
}

.teams__image {
  width: 270px;
  height: 270px;
  position: absolute;
  z-index: 10;
}

.teams__image-back {
  position: relative;
  z-index: 5;
}

.teams__image-back1 {
  position: absolute;
  z-index: 4;
  margin: 0 40px;
  width: 202.83px;
  height: 282.72px;
  -webkit-transform: rotate(34.78deg);
          transform: rotate(34.78deg);
}

.teams__image-back2 {
  position: relative;
  z-index: 4;
  width: 210px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.teams__image-back3 {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
  margin: 0 0 0 56px;
  position: absolute;
  z-index: 4;
  width: 202.83px;
  height: 282.72px;
}

.teams__image-back4 {
  -webkit-transform: rotate(260deg);
          transform: rotate(260deg);
  position: relative;
  z-index: 4;
  width: 210px;
}

.teams__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.teams__back-left {
  position: relative;
  z-index: 5;
}

.teams__back-left-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teams__back-left-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -200px 0 0 140px;
}

.teams__back-right {
  position: relative;
  z-index: 8;
}

.teams__back-right-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teams__back-right-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -60px 0 0 230px;
}

.teams__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  position: relative;
  z-index: 50;
  -webkit-transform: translate(600px, 250%);
          transform: translate(600px, 250%);
}

.radio {
  margin: 0.5rem;
}
.radio input[type=radio] {
  position: absolute;
  opacity: 0;
}
.radio input[type=radio] + .radio-label:before {
  content: "";
  background: #f4f4f4;
  border-radius: 100%;
  border: 1px solid #f4f4f4, 25%;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  position: relative;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}
.radio input[type=radio]:checked + .radio-label:before {
  background-color: #CBE896;
  -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
          box-shadow: inset 0 0 0 4px #f4f4f4;
}
.radio input[type=radio]:focus + .radio-label:before {
  outline: none;
  border-color: #CBE896;
}
.radio input[type=radio]:disabled + .radio-label:before {
  -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
          box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}
.radio input[type=radio] + .radio-label:empty:before {
  margin-right: 0;
}

/* ================== BLOG =============================== */
.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 150px;
}

.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.blog__img {
  border-radius: 10px;
}

.blog__gradient {
  display: inline-block;
  position: relative;
  line-height: 0;
}

.blog__gradient:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.8;
  border-radius: 10px;
}

.blog__gradient:hover:after {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0)), color-stop(70%, #f00000)) no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0) 30%, #f00000 70%) no-repeat;
  opacity: 1;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  cursor: pointer;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.blog__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.blog__discript {
  margin-bottom: 10px;
  position: absolute;
  margin-left: 15px;
  z-index: 5;
}

.blog__items-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.blog__p {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.blog__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__p-time {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.blog__title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: center;
}

.blog__title-p {
  font-family: "Catamaran", sans-serif;
  margin: 10px 0 100px 0;
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
}

.blog__vector-blog {
  -webkit-transform: translate(712.5px, -50%);
          transform: translate(712.5px, -50%);
}

/* ======== GET ============================== */
.get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -150px;
  height: 663px;
}

.get__title {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: 0.02em;
}

.get__p {
  font-family: "Catamaran", sans-serif;
  margin: 10px 0 100px 0;
  font-size: 18px;
  line-height: 1.66;
  /* text-align: center; */
}

.get__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get__email {
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  width: 384px;
  height: 63px;
  padding-left: 15px;
}

.get__img {
  position: absolute;
  z-index: -1;
  margin: 0 0 0 -420px;
}

.get__img1 {
  position: absolute;
  margin: 50px 0 0 -450px;
}

.get__img2 {
  position: absolute;
  z-index: -1;
  margin: 280px 0 0 600px;
}

.get__button {
  font-family: "Catamaran", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.66;
  color: #ffffff;
  background-color: #d22238;
  border-radius: 10px;
  width: 143px;
  height: 63px;
  border: 1px solid #d22238;
  margin-right: 10px;
}

.get__button:focus,
.get__button:hover {
  background-color: #f4596b;
  border: 1px solid #f4596b;
  -webkit-transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s;
  transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s, -webkit-box-shadow 400ms ease-in 0s;
}

/* =========================== FOTER================= */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 80px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer__copyright {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  color: #3d3d3d;
  text-align: center;
  padding: 10px;
}

.footer__us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.footer__p {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02em;
}

.footer__h4 {
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  margin-bottom: 50px;
  letter-spacing: 0.02em;
}

.footer__decoration {
  text-decoration: none;
  color: #000000;
}

.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 180px 0 0;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__svg {
  cursor: pointer;
}

.footer__line {
  border: 1px solid #e0e0e0;
  width: 100%;
}

.footer__logo {
  margin: -50px 0 50px;
}

.footer__svg {
  fill: #E0E0E0;
}

.footer__svg:hover {
  fill: #000000;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}/*# sourceMappingURL=main.css.map */