/* ==============================about============================= */

.about {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-left: -180px;
}

.about__us {
    transform: rotate(-90deg);
    font-weight: 700;
    font-size: 70px;
    line-height: 1.64;
    color: #f5f5f5;
    text-align: center;
    width: 560px;
    height: 119px;
    margin: 100px 0 0 -100px;
}

.about__pictures {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    margin-right: 80px;
}

.about__img {
    width: 270px;
    height: 495px;
}

.about__img1 {
    margin-bottom: 150px;
    margin-left: -200px;
}

.about__img2 {
    margin-top: 150px;
}

.about__text {
    display: flex;
    flex-direction: column;
    height: 580px;
    width: 540px;
}

.about__text-h2 {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    margin-bottom: 20px;
    letter-spacing: 0.02em;
}

.about__text-p {
    font-size: 18px;
    line-height: 1.66;
    margin-bottom: 20px;
}

.about__color {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    background: linear-gradient(#f00000, #9109f6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about__nam {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.about__color-p {
    font-size: 15px;
    line-height: 1.66;
    color: #858585;
}

.about__button {
    font-family: "Catamaran", sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.66;
    color: #ffffff;
    background-color: #d22238;
    border-radius: 10px;
    width: 186px;
    height: 68px;
    border: 1px solid #d22238;
    margin-right: 10px;
}

.about__button:focus,
.about__button:hover {
    background-color: #f4596b;
    border: 1px solid #f4596b;
    transition: box-shadow 400ms ease-in 0s, color 400ms ease-in 0s, background-color 400ms ease-in 0s;
}