/* ====================clients========================= */

.clients {
    margin-top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.clients__title {
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
}

.clients__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 80px;
    margin-top: 40px;
}